/* 
-- copied from Max's github --
https://github.com/academind/react-complete-guide-code/blob/05-rendering-lists-conditional-content/extra-files/ExpensesList.css
*/
.expenses-list {
    list-style: none;
    padding: 0;
  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }